<div class="container">
  <div class="row ">
    <div class="card margin-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Conocimientos en HTML y CSS Básico</h5>
        <p class="card-text">conocimientos básicos en HTML y CSS, capaz de crear y diseñar páginas web estáticas. Poseo habilidades fundamentales para estructurar y dar estilo a los elementos HTML, utilizando las propiedades y selectores CSS adecuados..</p>
      </div>
    </div>

    <div class="card margin-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Soporte hardware y Software de equipos de cómputo</h5>
        <p class="card-text">Técnico en soporte de equipos de cómputo con experiencia en hardware y software. Capaz de diagnosticar y solucionar problemas tanto a nivel de hardware como de software en equipos de cómputo. Poseo conocimientos en la instalación y configuración de sistemas operativos, controladores y aplicaciones.</p>
      </div>
    </div>

    <div class="card margin-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Conocimientos Básicos en lenguaje SQL</h5>
        <p class="card-text">Conocimientos básicos en el lenguaje SQL. Capaz de escribir consultas sencillas para extraer, insertar, actualizar y eliminar datos de una base de datos. Tengo habilidades fundamentales para utilizar cláusulas como SELECT, INSERT, UPDATE y DELETE, así como para filtrar y ordenar datos mediante condiciones y expresiones.</p>
      </div>
    </div>

    <div class="card margin-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Manejo de la herramienta aranda</h5>
        <p class="card-text">Experiencia en el manejo de la herramienta Aranda Software, utilizada para la gestión de servicios y activos de TI. Tengo habilidades en la configuración y administración de la plataforma, incluyendo la implementación de políticas de gestión, creación de flujos de trabajo, monitoreo de activos y generación de informes..</p>
      </div>
    </div>

    <div class="card margin-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Conocimientos electrónica básica</h5>
        <p class="card-text">Conocimientos básicos en electrónica, lo cual me permite comprender los principios fundamentales y conceptos clave de esta disciplina. Estoy familiarizado/a con componentes electrónicos como resistencias, capacitores, transistores y diodos, así como con su funcionamiento y características básicas. Además, tengo habilidades para leer y comprender esquemas y diagramas electrónicos simples..</p>
      </div>
    </div>
  </div>
</div>



