<div class="coontainer">
  <h1 class="color text-align-center">HOJA DE VIDA</h1>
  <div class="margin-nav" >

    <ul class="nav nav-tabs font-weight-bold color ">
      <li class="dropdown">
        <a class="nav-link active2 color" routerLink="home">Quien soy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color " routerLink="skill">Mis habilidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="experience">Experiencia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="education">Educacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="achievements">Logros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="hobbies">Aficiones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="suggestions">Sugerencias</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
