.text-align-center{
  text-align: center;
}

.color{
  color: #25a88e;

}

.margin{
  margin-top: 1rem;
}

.margin-nav{
  margin-top: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

.margin-title{
  font-size: 45px;
  color: #007bff !important;
  margin-top: 3rem;
  margin-right: 2rem;
}
