<div style="background-image: url('src/assets/fondo.jpg')" class="coontainer">
  <h1 class="color text-align-center">HOJA DE VIDA</h1>

  <div class="margin-nav" >
    <ul class="nav nav-tabs font-weight-bold color ">
      <li class="dropdown">
        <a class="nav-link active2 color" routerLink="home">Quien soy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color " routerLink="skill">Mis habilidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="experience">Experiencia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2 color" routerLink="education">Educación</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
  <h1 class="color text-align-center">Contacto</h1>
  <div class="text-align-center">
    <div>
      <b>Nombre:</b><span> Robinson </span>
    </div>
    <div>
      <b>Celular:</b><span> 3113111111 </span>
    </div>
    <div>
      <b>Correo:</b><span> robinson@prueba.com </span>
    </div>
  </div>
</div>

