<div class="container row ">

  <img src="../../assets/estudiante.jpg" class=" posicion col-md-6 ">


  <div class="col-sm-6 col-md-6">
    <p class="color posicion " style="text-align:  justify">
      Soy estudiante de la U Compensar en la carrera de Ingenieria de Software. me desempeño actualmente como operario
      de medios tecnologicos en una empresa de seguridad, me resulta bastante interesante lo que podemos crear con las diferente
      herramientas que nos brinda la tecnologia.
    </p>



  </div>
</div>
