<div class="container row ">

  <img src="../../assets/estudiante.jpg" class=" posicion col-md-6 ">


  <div class="col-sm-6 col-md-6">
    <p class="color posicion " style="text-align:  justify">
      <em>
        Soy estudiante de la U Compensar en la carrera de Ingeniería de Software. Me desempeño actualmente como operario
        de medios tecnológicos en una empresa de seguridad, me resulta bastante interesante lo que podemos crear con las diferentes
        herramientas que nos brinda la tecnología.
      </em>

    </p>



  </div>
</div>
